@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-Regular.woff2") format("woff2"),
       url("/fonts/Caveat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers-Regular.woff2") format("woff2"),
       url("/fonts/Bangers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
